%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{port_sources, ["c_src/*.cpp"]}.

{port_envs, [
             {"CXXFLAGS", "$XAPIAN_CXXFLAGS $CXXFLAGS -std=c++98 -Wall "
                "-pedantic -Wconversion -Wextra -Wcast-qual -Wcast-align "
             },
             {"LDFLAGS",  "$XAPIAN_LDFLAGS $LDFLAGS -lstdc++ "}
            ]}.

{cover_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
   {rebar_xapian_plugin, ".*",
    {git, "git://github.com/freeakk/rebar_xapian_plugin.git", "master"}},

   {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}},
   {seqbind, ".*", {git, "git://github.com/spawngrid/seqbind.git", "HEAD"}},
   {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", "HEAD"}},
   {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", "HEAD"}},
%  {erlubi, ".*", {git, "git://github.com/krestenkrab/erlubi.git", "HEAD"}},
   {proper, ".*", {git, "git://github.com/manopapad/proper.git", "HEAD"}}
]}.

{rebar_plugins, [rebar_xapian_plugin]}.
{edoc_opts, [{doclet, edown_doclet},
            {src_path, ["src/"]},
            {subpackages, true}]}.

{erl_opts, [bin_opt_info]}.
