%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{port_sources, ["c_src/*.{c,cpp}"]}.

{port_envs, [
             {"CC",       "$CC"},
             {"CXX",      "$CXX"},
             {"CXXFLAGS", "$XAPIAN_CXXFLAGS $CXXFLAGS $XAPIAN_INC_PATH"},
             {"LDFLAGS",  "$XAPIAN_LDFLAGS $LDFLAGS"}

            ]}.

{so_specs, [
            {"priv/xapian_driver$XAPIAN_BUILD_ID.so", ["c_src/*.o"]}
           ]}.



{clean_files, ["priv/xapian_*.so"]}.
{rebar_plugins, [rebar_xapian_plugin]}.
{cover_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
   {rebar_xapian_plugin, ".*", 
	{git, "git://github.com/freeakk/rebar_xapian_plugin.git", "master"}},
   {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}
]}.

{edoc_opts, [{doclet, edown_doclet},
            {src_path, ["src/"]},
            {subpackages, true}]}.

