%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
   {rebar_xapian_plugin, ".*",
    {git, "git://github.com/cytozoon/rebar_xapian_plugin.git", "master"}},

   {seqbind, ".*", {git, "git://github.com/spawngrid/seqbind.git", "HEAD"}},
   {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", "HEAD"}},
   {gin,     ".*", {git, "git://github.com/mad-cocktail/gin.git", "HEAD"}},
   {mead,    ".*", {git, "git://github.com/mad-cocktail/mead.git", "HEAD"}},
   {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", "HEAD"}},

   {proper, ".*", {git, "git://github.com/manopapad/proper.git", "HEAD"}},
   {emark,  ".*", {git, "git://github.com/ftrvxmtrx/emark.git", "HEAD"}}
   
%  {erlubi, ".*", {git, "git://github.com/krestenkrab/erlubi.git", "HEAD"}},
]}.

%% == Plugins ==

%% This allows compile plugin at the first compile.
{plugin_dir, "deps/rebar_xapian_plugin/src"}.

{plugins, [rebar_xapian_plugin, emark_plugin]}.


%% == Options ==
{edoc_opts, [{src_path, ["src/"]}, {subpackages, true}]}.

{erl_opts, [bin_opt_info]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{cover_enabled, true}.


%% == Cleanup ==

%% Which files to cleanup
{clean_files, ["priv/test_db", "*.o", "priv/*.so", "priv/*.dll",
               "c_src/*/*.gch",      "c_src/*/*.gcov",     "c_src/*/*.o",
               "*c_src/*/*.gcda",    "c_src/*/*.gcno",     
                                                           
               "c_src/*/*/*.gch",    "c_src/*/*/*.gcov",   "c_src/*/*/*.o",
               "c_src/*/*/*.gcda",   "c_src/*/*/*.gcno",  

               "c_src/*/*/*/*.gch",  "c_src/*/*/*/*.gcov", "c_src/*/*/*/*.o",
               "c_src/*/*/*/*.gcda", "c_src/*/*/*/*.gcno"
               ]}.


%% == Ports ==
{port_specs, [
    {"priv/xapian_drv.so", 
        ["c_src/common/*.cpp", "c_src/common/*/*.cpp", "c_src/driver/*.cpp"]},
    {"priv/xapian_port",   
        ["c_src/common/*.cpp", "c_src/common/*/*.cpp", "c_src/port/*.cpp"]}
]}.


{port_env,  [
             {"CXXFLAGS", "$XAPIAN_CXXFLAGS $CXXFLAGS -std=c++98 -Wall "
                "-pedantic -Wconversion -Wextra -Wcast-qual -Wcast-align "
                %% CWD is xapian, it is set by rebar even if xapian is a 
                %% dependance of an other OTP-application.
                "-Ic_src/common/"
             },
             {"LDFLAGS",  "$XAPIAN_LDFLAGS $LDFLAGS -lstdc++ "}
            ]}.

